/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2020, 1:53:31 PM
    Author     : jaimin
*/
.error{
    color:red;
    margin-top:5px;
    font-size:17px;
    font-weight:bold;
}
